<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Login</title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/forms.css" rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>
<body>

    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main class="container form" role="main">
        <div class="content form">
            <div class="form login">
                <h2 class="login_text">Accedi alla piattaforma</h2>
                <form action="#" th:action="@{/login}" method="post">
                    <div th:if="${login_success}" class="form-group">
                        <div class="alert alert-success" th:text="${login_success}">
                        </div>
                    </div>
                    <div th:if="${logout_info}" class="form-group">
                        <div class="alert alert-info" th:text="${logout_info}">
                        </div>
                    </div>
                    <div th:if="${login_error}" class="form-group">
                        <div class="alert alert-danger" th:text="${login_error}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="password">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary btn-lg">Login</button>
                </form>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

</body>
</html>