<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title th:utext="${add} ? 'Crea nuovo prodotto' : ${productForm.getName()} + ' - Update'"></title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/forms.css" rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>
<body>
    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main class="container form" role="main">
        <div class="content form">
            <div class="form product">
                <h1 class="mt-md-3" th:text="${add} ? 'Nuovo piatto o prodotto' : 'Modifica ' + ${productForm.name}"></h1>
                <form method="post" th:action=" ${add}
                        ? @{/restaurants/{r_id}/products/create(r_id=${r_id})}
                        : @{/restaurants/{r_id}/products/{p_id}/update(r_id=${r_id}, p_id=${p_id})}
                    "
                    th:object="${productForm}" class="needs-validation" novalidate
                >
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" th:field="*{name}" th:value="*{name}" class="form-control" id="name" aria-describedby="name"
                               th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                        >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>

                    <div class="form-group">
                        <label for="category">Categoria</label>
                        <input type="text" th:field="*{category}" th:value="*{category}" class="form-control" id="category"
                               th:classappend="${#fields.hasErrors('category')} ? is-invalid"
                        />
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
                    </div>

                    <div class="form-group">
                        <label for="ingredients">Ingredienti</label>
                        <input type="text" th:field="*{ingredients}" th:value="*{ingredients}" class="form-control" id="ingredients"
                                  th:classappend="${#fields.hasErrors('ingredients')} ? is-invalid"
                        />
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></div>
                    </div>

                    <div class="form-group">
                        <label for="price">Prezzo unitario</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                            <input type="number" th:field="*{price}" th:value="*{price}" min="0" step="0.05"
                                   data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="price"
                                   th:classappend="${#fields.hasErrors('price')} ? is-invalid"
                            />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-block btn-primary" th:utext="${add} ? 'Creata piatto' : 'Modifica piatto'"></button>
                </form>
            </div>
        </div>
    </main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="../../../static/js/uppercase.js.js" th:src="@{/js/general.js}"></script>
</body>
</html>
</body>
</html>