<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title th:utext="${restaurant.getName()} + ${' - Details'}"></title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/restaurant.css" rel="stylesheet" th:href="@{/css/restaurant.css}"/>
</head>
<body>
    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main class="container-fluid" role="main">
        <div class="row row-cols-xl-2 mt-md-5">
            <div class="col-xl-6">
                <div class="card restaurant">
                    <div class="card-header">
                        <h5 class="card-title mt-3" th:utext="${restaurant.getName()}"></h5>
                        <span id="restaurant_id" hidden="true" th:value="${restaurant.getId()}"></span>
                    </div>

                    <div class="card-body">
                        <p class="card-text">
                            <i class="mr-1 fa fa-map-marker"></i>
                            <span th:utext="${restaurant.getAddress().getLabel()}"></span>
                        </p>

                        <p class="card-text">
                            <i class="fa mr-1 fa-comment"></i>
                            <span th:utext="${restaurant.getDescription()}"></span>
                        </p>

                        <p class="card-text">
                            <i class="fa mr-1  fa-cutlery"></i>
                            <span th:utext="${restaurant.getType()}"></span>
                        </p>

                        <div class="btn-block btn-group-lg">
                            <a class="btn btn-secondary" th:href="@{/profile}">
                                Torna al profilo
                            </a>

                            <a class="btn btn-info" th:href="@{/restaurants/{id}/products(id=${restaurant.getId()})}">
                                Mostra piatti e prodotti
                            </a>

                            <a class="btn btn-primary" th:href="@{/restaurants/{id}/update(id=${restaurant.getId()})}">
                                Aggiorna informazioni
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6"></div>
        </div>

        <div class="alert_error row row-cols-xl-1 mt-md-5" th:if="${creation_error}">
            <div class="col-xl-12">
                <div class="alert alert-danger" role="alert">
                    <strong th:text="${creation_error}"></strong>
                    <button type="button" class="close" aria-label="Close" onclick="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row row-cols-xl-1 mt-md-5">
            <div class="col-xl-12">
                <H2 class="mt-2">Orari di apertura</H2>
            </div>
        </div>

        <div class="row row-cols-xl-2 mt-md-2 mb-xl-5">
            <div class="col-xl-12">
                <div class="timetable_form">
                    <form method="post" th:action="@{/restaurants/{id}/timetable(id=${restaurant.getId()})}" th:object="${timeTable}">
                        <table class="table table-bordered table-responsive-sm timetable">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Giorno</th>
                                    <th scope="col">Chiuso</th>
                                    <th scope="col">Orario di apertura</th>
                                    <th scope="col">Orario di chiusura</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Lunedì</th>
                                    <td align="center" valign="center">
                                        <input class="" type="checkbox" id="monday" th:field="*{monday.free}"/>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="monday_opening" th:field="*{monday.opening}" th:value="*{monday.opening}" th:disabled="*{monday.free}" required>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="monday_closing" th:field="*{monday.closing}" th:value="*{monday.closing}" th:disabled="*{monday.free}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Martedì</th>
                                    <td align="center" valign="center">
                                        <input class="" type="checkbox" id="tuesday" th:field="*{tuesday.free}"/>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="tuesday_opening" th:field="*{tuesday.opening}" th:value="*{tuesday.opening}" th:disabled="*{tuesday.free}" required>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="tuesday_closing" th:field="*{tuesday.closing}" th:value="*{tuesday.closing}" th:disabled="*{tuesday.free}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Mercoledì</th>
                                    <td align="center" valign="center">
                                        <input class="" type="checkbox" id="wednesday" th:field="*{wednesday.free}"/>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="wednesday_opening" th:field="*{wednesday.opening}" th:value="*{wednesday.opening}" th:disabled="*{wednesday.free}" required>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="wednesday_closing" th:field="*{wednesday.closing}" th:value="*{wednesday.closing}" th:disabled="*{wednesday.free}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Giovedì</th>
                                    <td align="center" valign="center">
                                        <input class="" type="checkbox" id="thursday" th:field="*{thursday.free}"/>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="thursday_opening" th:field="*{thursday.opening}" th:value="*{thursday.opening}" th:disabled="*{thursday.free}" required>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="thursday_closing" th:field="*{thursday.closing}" th:value="*{thursday.closing}" th:disabled="*{thursday.free}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Venerdì</th>
                                    <td align="center" valign="center">
                                        <input class="" type="checkbox" id="friday" th:field="*{friday.free}"/>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="friday_opening" th:field="*{friday.opening}" th:value="*{friday.opening}" th:disabled="*{friday.free}" required>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="friday_closing" th:field="*{friday.closing}" th:value="*{friday.closing}" th:disabled="*{friday.free}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Sabato</th>
                                    <td align="center" valign="center">
                                        <input class="" type="checkbox" id="saturday" th:field="*{saturday.free}"/>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="saturday_opening" th:field="*{saturday.opening}" th:value="*{saturday.opening}" th:disabled="*{saturday.free}" required>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" id="saturday_closing" th:field="*{saturday.closing}" th:value="*{saturday.closing}" th:disabled="*{saturday.free}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Domenica</th>
                                    <td align="center" valign="center">
                                        <input class="" type="checkbox" id="sunday" th:field="*{sunday.free}"/>
                                    </td>
                                    <td>
                                        <input class="form-control" type="time" id="sunday_opening" th:field="*{sunday.opening}" th:value="*{sunday.opening}" th:disabled="*{sunday.free}" required>
                                    </td>
                                    <td>
                                        <input class="form-control" type="time" id="sunday_closing" th:field="*{sunday.closing}" th:value="*{sunday.closing}" th:disabled="*{sunday.free}" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="Submit" class="btn btn-primary btn-lg btn-block" value="Aggiorna tabella degli orari">
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../../../static/js/timetables.js" th:src="@{/js/timetables.js}"></script>
    <script>
        function closeAlert() {
            const container = document.querySelector("main.container-fluid");
            const alertDiv = document.querySelector("div.alert_error");
            container.removeChild(alertDiv);
        }
    </script>
</body>
</html>