<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>

    <nav th:fragment="header_navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="nav_top">


        <a th:href="@{/}" class="navbar-brand">
            <i class="fa fa-cutlery" aria-hidden="true"></i> Delivery
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav mr-auto">
            </ul>



            <div class="btn-group nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                        <span th:text="${#authentication.getPrincipal().getFullName()}"></span>
                        <i class="fa fa-user-circle-o"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>



            <div class="btn-group" role="group">
                <ul class="navbar-nav">
                    <li class="nav-item active" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <button type="button" class="btn btn-success" onclick="location.href='/login'">
                            <i class="fa fa-sign-in mr-1" aria-hidden="true"></i>Sign In
                        </button>
                    </li>
                    <li class="nav-item active" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <button type="button" class="btn btn-primary ml-2" onclick="location.href='/registration'">
                            <i class="fa fa-user-plus mr-1" aria-hidden="true"></i>Sign Up
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</body>
</html>