@import url('../font-awesome/css/font-awesome.min.css');

*{
    margin:0;
    padding:0;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid, .container {
    margin-top: 55px;
    height: 100vh;
}

.content {
    width: 100%;
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.option-table-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}