<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/errors.css" rel="stylesheet" th:href="@{/css/errors.css}" />
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">

    <main class="container-fluid" role="main">
        <div class="content">
            <div class="error_box" th:if="${httpStatus.is5xxServerError()}">
                <h1>Oooops, qualcosa è andato storto...</h1>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href = '/'">Torna alla homepage</button>
            </div>

            <div class="error_box" th:if="${httpStatus.is4xxClientError()}">
                <h1>Oooops, pagina non trovata...</h1>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href = '/'">Torna alla homepage</button>
            </div>

        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

</body>
</html>