<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Business Food Delivery Platform</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/homepage.css" rel="stylesheet" th:href="@{/css/homepage.css}"/>
</head>
<body>
    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main id="first" class="container-fluid homepage" role="main">
        <div class="content">
            <div class="welcome_message">
                <h1 class="welcome_h1">Food Delivery for business</h1>
                <p>ricevi ordini e gestisci prenotazioni facilmente dal tuo PC</p>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>